{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>theTeamMatez</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'Chartjs/Chart.js' %}"></script>

</head>
<body class="back" style="margin-bottom:100px">
    <div class="navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-brand navbar-left">
                theTeamMatez.com
            </div>
            {% if user.is_authenticated %}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"> Appreciate</a></li>
                    <li><a href="/statistics/ranking"> Ranking</a></li>
                    <li class="navbar-text"> | </li>
                    <li class="navbar-text"> {{ user.username }} </li>
                    <li><a href="/logout"> logout </a></li>
                </ul>
            {% else %}
                <div class=" navbar-text navbar-right"> You are not logged in.</div>
            {% endif %}
        </div>

    </div>


    {% block content %}

    {% endblock content %}
    <footer class="footer">
        <div class="container footer">
            <p>theTeamMatez.com Bartosz Cwynar</p>
        </div>
    </footer>

</body>
</html>