{% extends "base.html" %}




{% block content %}
    {% load staticfiles %}

    <div class='jumbotron' style="background-image:url({% static 'images/theTeamMatezTitle.jpg' %}); height:600px; background-size: cover; margin-bottom: -50px; color: #Fff;">
        <div class="container">
            <h1> theTeamMatez.com</h1>
            <h3> ... a place where you can appreciate your Team Mates</h3>
            <h3>for the wonderful work they've done.</h3>
        </div>
    </div>
    <div class='jumbotron' style="margin-bottom: -50px; height:400px;">
        <div class='container'>
            <h3> Log in and start appreciating your teamMatez :)</h3>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                            {% csrf_token %}

                            <p>
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </p>
                            <p>
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </p>
                            <input class="btn btn-warning btn-lg" type="submit" value="login" />
                            <input type="hidden" name="next" value="{{ next }}" />

                        </form>
                    </div>
                    <div class="col-md-7">
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}