{% extends "base.html" %}


{% block content %}



<div class='jumbotron'>
    <div class='container'>
        <h2>theTeamMatez</h2>
        <h3>You can appreciate here your {{ team.name }} team mates</h3>

    </div>
</div>


<div class='container'>

    {% for teamMate in teamMates %}
        {% if forloop.first %} <div class="row"> {% endif %}

          <div class="col-md-2">
              <img src="{{teamMate.avatar.url}}" class="img-thumbnail" style="max-width:100%; height: 100px; margin-top:20">

              <h2> {{ teamMate.user.username }} </h2>
              {% if votingAllowed %}
              <button id="{{ teamMate.user.username }}" class="btn btn-warning"  style="margin-bottom:20" type="vote" value="Vote"> Appreciate</button>
              {% endif %}

          </div>
        {% if forloop.counter|divisibleby:6 %}</div><div class="row ">{% endif %}
        {% if forloop.last %}</div>{% endif %}
      {% endfor %}

</div>
<div class=" container">
    <div class="row">
        <div class="col-md-12 text-center" id="communicate">
            {% if not votingAllowed %}
                <h3 class=centre"> You've already appreciated one of your Team Mates today, please come back tomorrow.</h3>
                <h3>You can check the current ranking here.</h3>
                 <a href="/statistics/ranking" class="btn btn-warning btn-lg btn-block"> Ranking of Appreciation</a>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a id="ranking" href="/statistics/ranking" class="btn btn-warning btn-lg btn-block" style="visibility: hidden;"> Ranking of Appreciation</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("button").click(function(){
            $.ajax({
            url: '/vote',
            data: {username: $(this).attr("id")},
            dataType:'html',
            success : function(data, status, xhr){
                    $('#communicate').html(" <h3> Thanks for appreciation. Please check the current ranking.</h3>");
                    $('#ranking').removeAttr('disabled');
                    $('#ranking').css('visibility','visible');
                    $("button").fadeTo('slow',0,function(){
                    $("button").attr("disabled", "disabled");
                    $('#ranking').removeAttr('disabled');
                    $('#ranking').css('visibility','visible');
                    });
             }
            });
        });
    });
</script>

{% endblock %}